echo "
# Terraform local cache
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Local artifacts
*.zip
*.log
" >> .gitignore

# Terraform local cache
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Local artifacts
*.zip
*.log

